@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.top-bar {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: lightgreen;
    padding: 20px 0px;
}

.app {
    display: flex;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.draw-container {
    margin-right: 50px;
    margin-left: auto;
}

.draw-container p {
    margin-top: 0;
}
    
#main-canvas {
    margin-top: 20px;
    background: url("https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

button {
    margin-top: 20px;
    display: inline-block;
    border: 2px solid black;
    font-size: 20px;
    background: gray;
    color: white;
    padding: 10px;
}

.button-group {
    margin-bottom: 20px;
}

.submit-button {
    background: green;
}
    
button:hover {
    cursor: pointer;
}
    
#result-text {
    font-size: 20px;
}

.barchart {
    margin-left: 50px;
    margin-right: auto;
}

.barchart-container {
    border: 1px solid black;
    display: block;
    background: white;
    height: 400px;
    width: 500px;
}

.barchart-bars {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}

.barchart-bar {
    margin-top:auto;
    background: green;
    width: 40px;
}

.barchart-labels {
    display: flex;
    border-top: 1px solid black;
    width: 100%;
    height: 10%;
    justify-content: space-between;
}

.barchart-labels p {
    width: 40px;
    text-align: center;
}

.barchart p {
    text-align: center;
    margin: 0
}